/src/main/resources/ws/dataset/ds-1.tsv
/src/main/resources/ws/dataset/ds-2.tsv
/src/main/java/ws/HelloJGraphT.java

/target/*
!/target/classes
/target/classes/*
!/target/classes/ws
/target/classes/ws/*
!/target/classes/ws/logs
!/target/classes/ws/plots
/target/generated-sources/
/target/generated-test-sources/
/target/classes/ws/test/

/ws_project.iml
/.idea/
/src/test/java/ws/Prova
